.app{

  position: relative;
  margin: 10px;

}

.app > div {
  
  width: 0.1px;
  background-color: orange;
  display: inline-block;
  outline-style: solid;
  outline-color: orange;
  outline-width: 0.1px;
  margin-left: 8px;

}

span{

  display: inline-block;
  font-size: 14px;
  color: rgba(128, 128, 128, 0.5);
  margin: 2px;

}

.bin-count{

  position: absolute;
  left: 30%;
  float: right;
  font-size: 2em;
  height: 50px;

}