body{
  background-color: orange;
  font-family: "Arial";
}

p, span, li, input{
  font-size: 1.5em;
}

div{
  padding: 20px;
}

.application{
  width: 550px;
  margin: 0 auto;
}

.osc-controls{
  border-style: solid;
  border-color: #bc6527;
  border-width: 2px;
  border-radius: 10px;
  margin-bottom: 20px;
}

#oscillator-list{
  padding-left: 0px;
}

#oscillator-list li{
  list-style-type: none;
  color: white;
}

#sawtooth{
  background-color: #336E91;
}
#sine{
  background-color: #783d47;
}
#triangle{
  background-color: #3b3040;
}
#square{
  background-color: #b85635;
}